name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install Protoc

        uses: arduino/setup-protoc@v1

      - name: Install protoc-gen-go
        run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest

      - name: Generate Protobufs
        run: sh setup.sh

      - name: Get Dependencies
        run: go get  -d ./...

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

  build_go_mobile:
    needs: build_and_test
    name: Build Go Mobile
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install Protoc
        uses: arduino/setup-protoc@v1

      - name: Install protoc-gen-go
        run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest

      - name: Generate Protobufs
        run: sh setup.sh

      - name: Get Dependencies
        run: |
          go get  -d ./...
          go get -d golang.org/x/mobile/cmd/gomobile

      - name: Install Go Mobile
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          go install golang.org/x/mobile/cmd/gobind@latest

      - name: Build Artifacts
        working-directory: ./dione-mobile
        run: gomobile bind -target="ios"
        # run: gomobile bind -target="ios,iossimulator,macos,maccatalyst"

      - name: List Framework
        run: ls dione-mobile

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Dione_mobile.xcframework
          path: dione-mobile/Dione_mobile.xcframework/

  create_release:
    needs: build_go_mobile
    runs-on: ubuntu-latest
    name: Create Release
    steps:
      - uses: actions/checkout@v2

      - uses: ncipollo/release-action@v1
        with:
          tag: latest
          name: Dione Mobile Framework
          allowUpdates: true
          prerelease: true
          artifacts: "Dione_mobile.xcframework"
          token: ${{ secrets.GITHUB_TOKEN }}