name: Go Mobile

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install Protoc
        uses: arduino/setup-protoc@v1

      - name: Install protoc-gen-go
        run: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest

      - name: Generate Protobufs
        run: sh setup.sh

      - name: Install Go Mobile
        run: | 
          go install golang.org/x/mobile/cmd/gomobile@latest
          go install golang.org/x/mobile/cmd/gobind@latest

      - name: Init Go Mobile
        run: cd dione-mobile && gomobile init

      - name: Build Artifacts
        run: cd dione-mobile && gomobile bind -target="ios,iossimulator,macos,maccatalyst"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Dione Mobile Framework
          path: $(GITHUB_WORKSPACE)/dione-mobile/Dione_mobile.xcframework/